
*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}




.slider_father{

    display: flex;
    width: 100vw;
    height: 100vh;

    border: 5px solid red;

    justify-content: center;
    
    align-items: center;
    

}

.slider_content{

    border: 3px solid green;
    overflow: hidden;
    width: 100vw;
    height: 400px;
}

.slider_inner{
    
    width: 100%;
    height: 100%;
    
    border: 2px solid blue;
    justify-self: center;
    flex-direction: row;
    flex-wrap: nowrap;
    
    position: relative;

    display: flex;

    justify-content: center;


}



img{

    position: absolute;

    width: 100%;
    filter: contrast(1.3);

    transition: all 0.5s ease-in;
   
}
